# i sure do hope i wont need this one
/concept/
# the usual
*.lnk
*.sublime-workspace
*.sublime-project
# the
*.ase
# commit summary, because sometimes commits get so big that i need a scratchpad to write down what changed, to give the illusion of non messy commits
/commit.txt
# self explainatory
/server.log
# ..
/sh.sh
