/* css style sheet, what else can i say */
@import "/themes/purple.css";
html { /* for #s to mind the header */
  scroll-padding-top: 2.5em;
}
header {
	position: sticky; /* i know what im doing trust me */
	top: 0;
	margin: 0;
	z-index: 1;
	height: 2.5em;
}
iframe.header {
	border-style: none;
	width: 100%; height: 2.5em;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
}
div.main {
	align-self: center;
	margin: 2.25em 0.75em;
	padding: 0.75em;
	max-width: fit-content;
	overflow: auto display;
}
div.blackbox {
	margin: 0.75em 0;
	padding: 0.75em;
	max-width: fit-content;
	background: #000;
	color: #fff;
}
ul, ol {
	margin: 0;
	padding-left: 1.25em;
}
img {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	zoom: 400%;
}
u.title {
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    position: relative;
}
i.flavor {
	text-align: center;
	font-size: 0.8em;
}
/* for footnotes */
.footnotes > p {
	margin: 0px;
}
.footnotes > p:target {
	background: #fff2
}
a {transition: all 0.5s;}
a:hover {transition-duration: 0.1s;}
