/* because some people want this */
a {
	color: #ff00ff
}
a:hover {
	color: #ff7fff;
	text-shadow: 0px 0px 5px #ff00ff;
}
body {
	background-color: #bf007f;
}
div.main {
	background-color: #400040;
	color: #ffdfff;
}