/* happy (not) april 1st i hope no one actually finds this */
a {color: #f00;}
a:hover {
	color: #f00;
	text-shadow: 0px 0px 1px #f00;
}
body {background: url() #f00;}
div.main {
	background: url() #ff0;
	color: #000;
}
div.blackbox {
	background-color: #fff;
	color: #000;
}
