/* the true way to experience the site */
a {
	color: #f0f
}
a:hover {
	color: #ff7fff;
	text-shadow: 0px 0px 5px #f0f;
}
body {
	background-color: #f0f;
}
div.main {
	background-color: #600060;
	color: #ffbfff;
}