/* le accessibility */
a {color: #e6c;}
a:hover {
	color: #e9d;
	text-shadow: 0px 0px 5px #e6c;
}
body {background: url(paw.png) center left fixed #525;}
div.main {
	background: url(paw.png) center #414;
	color: #ccc;
}
