/* the laziest */
a {
	color: #777;
}
a:hover {
	color: #888;
	text-shadow: 0px 0px 5px #777;
}
body {
	background-color: #000;
	background-image: unset;
}
div.main {
	background-color: #222;
	background-image: unset;
	color: #bbb;
}
img {
	mix-blend-mode: luminosity;
}